@font-face { 
	font-family: Rakoon;
	src: url('Rakoon.ttf'); }

body {
	background: ##49411d;
	background-image: url("css_img/zenbg-1.png"), url("css_img/zenbg-2.png");
	background-repeat: repeat-x, repeat;
	font-family: Geneva, sans-serif !important;
	
}

.navbar-brand {
	font-family: Rakoon, serif !important;
	font-size: 4em !important;
	color: #13669D !important;
	text-shadow: 2px 2px #a0a0a0;
}

.served-num {
	padding-left: 70px;
}

@media all and (max-width : 480px){
  .navbar-brand {
    font-size: 2em !important;
  }
  .served-num {
	padding-left: 00px;
	}
	#rotate {
		display: none;
	}
}



.navbar-default .navbar-nav > .active > a {
	border-radius: 30px;
}

.navbar-nav > li > a {
	color: #13669D !important;
}

.navbar-nav > li > a:hover {
	color: #F8F8F8 !important;
	background-color: #13669D !important;
	border-radius: 30px;
}



.info-wrapper {
	background-color: white;
	border: 2px solid rgba(156,162,154,0.9);
	border-radius: 20px;
	padding: 0px 10px 30px 10px;
}

.info {
	background-color: rgb(248,248,248);
	border: 1px solid rgba(156,162,154,0.9);
	border-radius: 10px;
	padding: 0px 10px 20px 10px;
}


.contact-us {
	background-color: rgba(156,162,154,0.9);
	border-radius: 20px;
	font-size: 0.9em;
	padding: 5px;
}

.fish-font, .fish-font-p {
	font-family: Rakoon, serif !important;
	color: #13669D !important;
	text-shadow: 2px 2px #c1c1c1;
}

a.fish-font-p:hover, a.fish-font:hover {
	color: #067971 !important;
	text-shadow: none;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	outline: 0 none;
}

.fish-font-p {
	font-size: 1.2em;
}

.standard-form-sm input  {
	width: 120px;
	text-align: center;
}

.standard-form-md input {
	width: 190px;
	text-align: center;
}

input, textarea {
	border-radius: 5px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    }

.order-address {
	width:400px;
	height: 50px;
}

.ui-datepicker-header {
	background: none !important;
	background-color: #13669D !important;
}

.ui-state-highlight, .ui-state-hover {
	background: none !important;
	background-color: #13669D !important; 
	color: white !important;
}

button.ui-datepicker-current {
	display: none;
}
@media all and (min-width : 481px){
  .info {
    min-height: 280px;
  }
}

@media all and (max-width : 480px){
	.order-address {
		width:250px;
	}

	.form-input {
		padding-bottom: 20px;
	}
}