@font-face { 
	font-family: Rakoon;
	src: url('Rakoon.ttf'); }

html {
	height:100% !important; 
}

body {
	background-color: #f9753b !important;
	font-family: Geneva, sans-serif !important;
	
}

.navbar-brand {
	font-family: Rakoon, serif !important;
	font-size: 4em !important;
	color: #13669D !important;
	text-shadow: 2px 2px #a0a0a0;
}

.served-num {
	padding-left: 0px;
	float: left;
}

@media all and (max-width : 480px){
  .navbar-brand {
    font-size: 2em !important;
  }
  .served-num {
	padding-left: 00px;
	}
	#rotate {
		display: none;
	}
}

.navbar-default {
	background-color: #BA4511 !important;
	border-color: #9b3305 !important;
}



.navbar-nav {
	padding-left: 5% !important;
	padding-top: 16px !important;
}


.navbar-nav > li > a {
	color: white !important;
	background-color: #F35C19 !important;
	border-radius: 30px;
}

.navbar-nav > li > a:hover {
	color: #F8F8F8 !important;
	background-color: black !important;
}




.info-wrapper {
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0px 10px 30px 10px;
	margin-top: 35px;
}

.info {
	background-color: rgb(248,248,248);
	border: 1px solid rgba(156,162,154,0.9);
	border-radius: 10px;
	padding: 0px 10px 20px 10px;
}

.info img {
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width : 640px){
	.navbar-default img {
		max-width: 200px;
		margin-left: 15px;
	}
}

@media all and (min-width : 768px){
	#contact-us-navbar {
		display: none;
	}
}

@media all and (min-width : 1024px){
	#contact-us-navbar {
		display: block;
	}
}

.contact-us {
	background-color: rgba(156,162,154,0.9);
	border-radius: 20px;
	font-size: 0.9em;
	padding: 5px;
}

#contact-us-navbar .fish-font-p{
	color: white !important;
}

#contact-us-navbar {
	background-color: #F35C19;
	color: white !important;
	border-radius: 20px;
	font-size: 0.9em;
	padding: 5px 10px 5px 10px;
	float: left;
	margin-left: 5% !important;
	margin-top: 15px !important;
}

h2.fish-font {
	padding-bottom: 5px;
	border-bottom: 2px #BA4511 solid;
}

.fish-font, .fish-font-p {
	font-family: Rakoon, serif !important;
	color: #F35C19 !important;
	text-shadow: 2px 2px #200700;
}

.fish-font-nav {
	font-family: Rakoon, serif !important;
	color: white !important;
	text-shadow: 2px 2px #200700;
}

a.fish-font-p:hover, a.fish-font:hover {
	color: #067971 !important;
	text-shadow: none;
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	outline: 0 none;
}

.fish-font-p {
	font-size: 1.2em;
}

.standard-form-sm input, .standard-form-sm textarea  {
	width: 120px;
	text-align: center;
}

.standard-form-md input, .standard-form-md textarea {
	width: 190px;
	text-align: center;
}



form {
	font-size: 12px !important;
}

input, textarea {
	border-radius: 5px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    }

.order-address {
	width:400px;
	height: 50px;
}

.ui-datepicker-header {
	background: none !important;
	background-color: #13669D !important;
}

.ui-state-highlight, .ui-state-hover {
	background: none !important;
	background-color: #13669D !important; 
	color: white !important;
}

.btn:hover {
	background-color: black;
	color: white !important;
	border-color: black gray gray black !important;
	box-shadow: 1px 1px #a0a0a0;
}

.btn-fish {

	background-color: #F35C19;
	border: 1px solid !important;
	border-color: gray black black gray !important;
	color: white;
}

button.ui-datepicker-current {
	display: none;
}
@media all and (min-width : 481px){
  .info {
    min-height: 380px;
  }
}


.form-error-msg {
	z-index: 10;
	color: red !important;
}

.easy-map-googlemap {
	width: 90%;
	margin: 0 auto;
}


@media all and (max-width : 480px){
	.order-address {
		width:250px;
	}

	.form-input {
		padding-bottom: 20px;
	}
}
