{% extends 'site_base.html' %}

{% load static %}

{% load easy_maps_tags %}

<!-- Default map with 300x400 dimensions -->
{% easy_map "Russia, Ekaterinburg, Mira 32" 300 400 %}

<!-- Variable address, custom detail level and custom template -->
{% easy_map address 200 200 5 using 'map.html' %}


{% block main_content %}

<br><br><br><br><br>


<div class = 'info-wrapper'>
<h2 class="fish-font text-center">Fresh, Delicious, Local!</h2>


	<div class="row">
		<div class="col-sm-4 text-center">
			<div class="info">
			<h3 class="fish-font">Source</h3>
			<img src="{% static "img/raw-fish1.png" %}" alt="Tilapi fish" class="img img-responsive thumbnail" />
			<p>Our <span class="fish-font-p">Lake Harvest</span> fish are locally grown kariba Nile Talapia. Full of nutrients and a healthy part of any diet!</p>
			</div>
			
		</div>
		<div class="col-sm-4 text-center">
			<div class="info">
			<h3 class="fish-font">Product</h3>
			<img src="{% static "img/lake-harvest-logo.png" %}" alt="Lake Harvest Logo" class="img img-responsive thumbnail" />
			<p>Restaurant service and free delivery inside Harare of <span class="fish-font-p">tasty, affordable</span> cooked and fresh fish!</p>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="info">
			<h3 class="fish-font">Find Us</h3>
			<div class="google-map">{% easy_map "Zimbabwe, Harare, Leicester 20" 160 160 %}</div>
			<br>
			<div class="contact-us">
			<p><span class="fish-font-p">Call/Whatsapp:</span><br>0789333555</p>
			<p><span class="fish-font-p">Email:</span> service@thefishshop.com</p>
			</div>
		</div>
		
	</div>
</div>

{% endblock %}

{% block sidebar-left%}
<br><br><br><br><br>


<div id="rotate" class="fish-font text-center info-wrapper"> 
	<div>
	<h2>We cook!</h2>
	</div>
	<div>
	<h2>We fillet and clean!</h2>
	</div>
	<div>
	<h2>We deliver in Harare!</h2>
	</div>
</div>

{% endblock %}