{% extends 'site_base.html' %}

{% load static %}

{% block main_content_nav %}

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Fish Shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse float-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Orders</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        <h4 class = 'served-num'><span class="fish-font">Customers Served:</span> 12,457!</h4>
      </div>
    </nav>

{% endblock %}



{% block main_content %}

<br><br><br><br><br>


<div class = 'info-wrapper'>
<h2 class="fish-font text-center">Fresh, Delicious, Local!</h2>
<hr>
	<div class="row">
		<div class="col-sm-4 text-center">
			<h3 class="fish-font">Product</h3>
		</div>
		<div class="col-sm-4 text-center">
			<h3 class="fish-font">Source</h3>
		</div>
		<div class="col-sm-4 text-center">
			<h3 class="fish-font">Location</h3>
		</div>
		
	</div>
</div>

{% endblock %}