{% extends 'site_base.html' %}

{% load static %}


{% block main_content %}

<br><br><br><br><br>


<div class = 'info-wrapper'>
<h2 class="fish-font text-center">You Order, We Deliver!</h2>

<div class="info">
	<div class="row">
	<form action =" {% url "order-steps" 3 %} " method = "POST">
	{% csrf_token %}
		<div class="col-sm-12 text-center">
			<h3 class="fish-font">Order Details</h3>
			<div class = 'row standard-form-sm'>
				<div class = 'col-sm-3 form-input'>
					<label>Product</label>
					<br>
					{{form.name}}
					{{form.name.errors}}
				</div>
				<div class = 'col-sm-3 form-input'>
					<label>Price</label>
					<br>
					{{form.price}}
				</div>
				<div class = 'col-sm-3 form-input'>
					<label>Quantity</label><span>(kgs/meals)</span>
					<br>
					{{form.quantity}}
					<div class="form-error-msg">{{form.quantity.errors|striptags}}</div>
				</div>
				<div class = 'col-sm-3 form-input'>
					<label>Grand Total</label>
					<br>
					<input id="id_total" name="total" type="text" value="0" />
				</div>
			</div>
			<br>
			<div class = 'row'>
				<div class = 'col-sm-6 form-input'>
					<label>Frequency</label>
					<br>
					{% for item in form.frequency %}
					{{item}} &nbsp;&nbsp;
					{% endfor %}
					<div class="form-error-msg">{{form.frequency.errors|striptags}}</div>
				</div>
				<div class = 'col-sm-6  form-input'>
					<label>Days</label>
					<br>
					{% for item in form.days %}
					{{item}} &nbsp;&nbsp;
					{% endfor %}
					<div class="form-error-msg">{{form.days.errors|striptags}}</div>
				</div>
			</div>
			<br>
			<div class = 'row'>
				<div class = 'col-sm-6 standard-form-sm form-input'>
					<label>No. of Weeks to Repeat Order For</label>
					<br>
					{{form.duration}}
					<div class="form-error-msg">{{form.duration.errors|striptags}}</div>
					<br><br>
					<label>Begin Deliveries On</label>
					<br>
					{{form.date}}
					<div class="form-error-msg">{{form.date.errors|striptags}}</div>
				</div>
				<div class = 'col-sm-6 standard-form-md form-input'>
					<label>Contact Number</label>
					<br>
					{{form.num}}
					<div class="form-error-msg">{{form.num.errors|striptags}}</div>
					{% if form.num.errors %}
					<br>
					{% else %}
					<br>
					<br>
					{% endif %}
					<label>Delivery Address</label>
					<br>
					{{form.address_street}}
					<div class="form-error-msg">{{form.address_street.errors|striptags}}</div>
				</div>
			</div>
			
			<br>
			<input class="btn btn-fish" type = "submit" value = "Place Order"/>
		</div>

	</form>
		
	</div>
</div>
</div>

{% endblock %}