<!DOCTYPE html>

{% load static %}
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Welcome to the Fish Hut!</title>
        <link rel="stylesheet" href="{% static "css/fish_site.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" type="text/css">
        <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        {% block custom-css %}
        {% endblock %}
    </head>
<body>
    

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% block sidebar-left %}
                {% endblock %}
            </div>
            <div class="col-sm-9">

            <!-- Fixed navbar -->
                <nav class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <img src="{% static "img/fish-shop1-md.png" %}" alt="Fish Hut Logo" class="img img-responsive" />
                    </div>
                    <div id="navbar" class="navbar-collapse collapse float-right">
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'order-steps' 1 %}">Orders</a></li>
                    </ul>
                    <div id = "contact-us-navbar">
                            <table>
                                <tr>
                                    <td><span class="fish-font-p">Call/Whatsapp:</span></td>
                                    <td width = 15 ></td>
                                    <td>0789333555</td>
                                </tr>
                                <tr>
                                    <td><span class="fish-font-p">Email:</span></td>
                                    <td width = 15 ></td>
                                    <td>service@thefishshop.com</td>
                                </tr>
                            </table>
                             
                    </div>
                    </div><!--/.nav-collapse -->
                    <h4 class = 'served-num text-centered'><span class="fish-font-nav">Customers Served:</span> 12,457!</h4>
                  </div>
                </nav>

            {% block main_content %}
            {% endblock %}
                
            </div>
               
        </div>
    </div>
    
</body>

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
{% block custom-js %}
{% endblock %}
<script type="text/javascript">
(function($){
    $.fn.extend({ 
        rotaterator: function(options) {
 
            var defaults = {
                fadeSpeed: 500,
                pauseSpeed: 100,
                child:null
            };
             
            var options = $.extend(defaults, options);
         
            return this.each(function() {
                  var o =options;
                  var obj = $(this);                
                  var items = $(obj.children(), obj);
                  items.each(function() {$(this).hide();})
                  if(!o.child){var next = $(obj).children(':first');
                  }else{var next = o.child;
                  }
                  $(next).fadeIn(o.fadeSpeed, function() {
                        $(next).delay(o.pauseSpeed).fadeOut(o.fadeSpeed, function() {
                            var next = $(this).next();
                            if (next.length == 0){
                                    next = $(obj).children(':first');
                            }
                            $(obj).rotaterator({child : next, fadeSpeed : o.fadeSpeed, pauseSpeed : o.pauseSpeed});
                        })
                    });
            });
        }
    });
})(jQuery);

$(document).ready( function() {
    $( '#test-btn' ).click( function() {
        $('#test-btn-output').load( "{% url 'my_site.views.test' %}");
    });

    $('#rotate').rotaterator({fadeSpeed:500, pauseSpeed:3000});

    $(function(){
        $('#id_date').datepicker({
            showButtonPanel: true
        });
    });

    setInterval( function(){
        var finalprice = $('#id_price').val() * $('#id_quantity').val();
        $('#id_total').val('$' + finalprice.toFixed(2));
    },
    500
    );

});

</script>

</html>